*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  color: white;
}

.menu-items {
  display: grid;
  height: 100vh;
  grid-template-rows: 1fr 3fr;
  font-size: 20px;
  font-weight: bold;
  margin-left: 50px;
}

.first-row {
  margin-bottom: 75px;
}

.menu-items ul {
  list-style-type: none;
}

.menu-items li {
  margin-bottom: 25px;
  display: flex;
}

.menu-items img {
  margin-right: 25px;
}

.sidebar {
  display: grid;
  background-color: #1a92d4;
}

.dashboard {
  display: grid;
  font-size: 18px;
  grid-template-columns: 1fr 1fr 3fr;
  margin-left: 3rem;
  margin-bottom: 5rem;
  margin-top: 30px;
}

.main-area {
  display: grid;
  grid-template-rows: 1fr 5fr;
}

.search-bar button,
.profile-notifications button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}
.search-bar input {
  border-radius: 1rem;
  border-width: 0px;
  background-color: #e2e8f0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.search-bar {
  display: grid;
  grid-template-columns: 1fr 8fr;
  height: 2rem;
}

.top {
  padding-top: 1rem;
  padding-left: 3rem;
  display: grid;
  gap: 1rem;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.bottom {
  background-color: #e2e8f0;
  display: grid;
  grid-template-columns: 2fr 1fr;
  color: black;
  padding-left: 2rem;
  padding-top: 2rem;
}

.profile-notifications {
  display: grid;
  grid-template-columns: 0.3fr 0.3fr 1fr;
  align-items: center;
  color: black;
}

.profile-notifications p {
  font-weight: bold;
  font-size: 22px;
}

.header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 7rem;
  align-items: center;
}

.down {
  display: grid;
  grid-template-columns: 1fr 1fr;
  color: black;
  padding-left: 1.5rem;
  align-items: center;
  gap: 13rem;
}

.down-left {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  align-items: center;
  gap: 0.5rem;
}

.hi {
  font-size: 14px;
  font-weight: bold;
}

.morgan {
  font-weight: bold;
  font-size: 26px;
}

.down-right {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 6rem;
  gap: 3rem;
}

.down-right button {
  color: white;
  font-weight: bold;
  background-color: #1a92d4;
  border: none;
  padding: 0.6rem 2rem 0.6rem 2rem;
  outline: none;
  cursor: pointer;
  border-radius: 0.8rem;
}
